{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# the web debug toolbar content #}
    {% set icon %}
        <div style="background-color: #fff; display: inline; padding: 3px 3px 3px 5px; margin-right: 3px;">
            <img height="20px" alt="Hoa - Ruler" src='data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 viewBox%3D%220 0 1761 629%22 shape-rendering%3D%22geometricPrecision%22 fill-rule%3D%22evenodd%22 clip-rule%3D%22evenodd%22%3E%3Cstyle%3E .light %7B fill%3A %23fa8a75 %7D .dark %7B fill%3A %23424a52 %7D %3C%2Fstyle%3E %3Cdefs%3E %3Cpath id%3D%22d%22 d%3D%22M155 126h194c16 0 29 13 29 29v67c0 16 13 30 29 30h67c16 0 30-14 30-30V29c0-16-14-29-30-29h-444c-16 0-29 13-29 29v193c0 16 13 30 29 30h67c16 0 29-14 29-30v-67c0-16 13-29 29-29z%22 %2F%3E %3Cuse id%3D%22u%22 xlink%3Ahref%3D%22%23d%22 transform%3D%22rotate%28180 252 126%29%22 %2F%3E %3C%2Fdefs%3E %3Cuse xlink%3Ahref%3D%22%23u%22 x%3D%220%22 y%3D%220%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%220%22 y%3D%22377%22 class%3D%22light%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%22628%22 y%3D%220%22 class%3D%22light%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23u%22 x%3D%22628%22 y%3D%22377%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%221257%22 y%3D%220%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%221257%22 y%3D%22377%22 class%3D%22light%22 %2F%3E%3C%2Fsvg%3E'>
        </div>

        <span class="sf-toolbar-value">{{ collector.count }}</span>
        <span class="sf-toolbar-label">assertion(s)</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Time</b>
            <span>{{ '%0.2f'|format(collector.time * 1000) }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Assertions</b>
            <span class="sf-toolbar-status">{{ collector.count }}</span>
        </div>
    {% endset %}

    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    {# the menu content #}
    <span class="label">
        <span class="icon" style="width: 40px; margin-left: 5px; height: 25px; background-color: white">
            <img width="35px" height="25px" alt="Hoa - Ruler" src='data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 viewBox%3D%220 0 1761 629%22 shape-rendering%3D%22geometricPrecision%22 fill-rule%3D%22evenodd%22 clip-rule%3D%22evenodd%22%3E%3Cstyle%3E .light %7B fill%3A %23fa8a75 %7D .dark %7B fill%3A %23424a52 %7D %3C%2Fstyle%3E %3Cdefs%3E %3Cpath id%3D%22d%22 d%3D%22M155 126h194c16 0 29 13 29 29v67c0 16 13 30 29 30h67c16 0 30-14 30-30V29c0-16-14-29-30-29h-444c-16 0-29 13-29 29v193c0 16 13 30 29 30h67c16 0 29-14 29-30v-67c0-16 13-29 29-29z%22 %2F%3E %3Cuse id%3D%22u%22 xlink%3Ahref%3D%22%23d%22 transform%3D%22rotate%28180 252 126%29%22 %2F%3E %3C%2Fdefs%3E %3Cuse xlink%3Ahref%3D%22%23u%22 x%3D%220%22 y%3D%220%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%220%22 y%3D%22377%22 class%3D%22light%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%22628%22 y%3D%220%22 class%3D%22light%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23u%22 x%3D%22628%22 y%3D%22377%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%221257%22 y%3D%220%22 class%3D%22dark%22 %2F%3E %3Cuse xlink%3Ahref%3D%22%23d%22 x%3D%221257%22 y%3D%22377%22 class%3D%22light%22 %2F%3E%3C%2Fsvg%3E'>
        </span>
        <strong>Ruler</strong>
        <span class="count">
            <span>{{ collector.count }}</span>
            <span>{{ '%0.2f'|format(collector.time * 1000) }} ms</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Hoa - Ruler</h2>

    <table summary="Show executed rules">
        <thead>
            <tr>
                <th>Rule</th>
                <th>Count</th>
                <th>Average duration</th>
                <th>Cumulated duration</th>
                <th>% of total execution time</th>
            </tr>
        </thead>
        <tbody>
        {% for rule, data in collector.statistics %}
        <tr>
            <td><pre>{{ rule }}</pre></td>
            <td>{{ data.count }}</td>
            <td>{{ '%0.2f'|format(data.avg_duration * 1000) }} ms</td>
            <td>{{ '%0.2f'|format(data.sum_duration * 1000) }} ms</td>
            <td>{{ '%0.2f'|format((data.sum_duration * 100) / collector.time) }} %</td>
        </tr>
        {% else %}
            <tr><td colspan="5">No rule executed.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
